.full-table {
  background-color: #024354;
  color: white;
  font-family: "Roboto", "sans-serif";
  border-radius: 0.5rem;
  /* padding: 0.25rem; */
}

.full-table h2 {
  margin-top: 1rem;
}

.table {
  width: 90%;
  margin: 0 auto;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.table-head-data{
    padding: 0.5rem;
}

.table-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
}

@media screen and (ma-width: 768px) {
}
